In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/fhvhv_tripdata_2021-02.parquet
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/working_parquet_format.pdf
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/data_dictionary_trip_records_hvfhs.pdf
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/fhvhv_tripdata_2021-10.parquet
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/fhvhv_tripdata_2021-05.parquet
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/taxi_zone_lookup.csv
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/fhvhv_tripdata_2021-06.parquet
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/fhvhv_tripdata_2021-04.parquet
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/fhvhv_tripdata_2021-09.parquet
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/fhvhv_tripdata_2021-12.parquet
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/fhvhv_tripdata_2021-08.parquet
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/fhvhv_tripdata_2021-01.parquet
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/fhvhv_tripdata_2021-03.parquet
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/fhvhv_tripdata_2021-07.parquet
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/nyc 2021-01-01 to 2021-12-31.csv
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/fhvhv_tripdata_2021-11.parquet
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/taxi_zones/taxi_zones.dbf
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/taxi_zones/taxi_zones.shp.xml
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/taxi_zones/taxi_zones.shp
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/taxi_zones/taxi_zones.shx
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/taxi_zones/taxi_zones.sbx
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/taxi_zones/taxi_zones.sbn
/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/taxi_zones/taxi_zones.prj

In [3]:
data = pd.read_csv('/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/nyc 2021-01-01 to 2021-12-31.csv')
data

,name,address,resolvedAddress,datetime,temp,feelslike,dew,humidity,precip,precipprob,...,snow,snowdepth,windgust,windspeed,winddir,sealevelpressure,cloudcover,visibility,uvindex,severerisk
0,nyc,nyc,"New York, NY, United States",2021-01-01,2.5,-0.2,-3.0,67.8,15.33,100,...,0.0,0.0,NaN,15.5,69.8,1028.9,50.6,14.0,3,NaN
1,nyc,nyc,"New York, NY, United States",2021-01-02,5.8,3.6,1.2,74.0,2.38,100,...,1.9,0.6,54.6,25.5,246.9,1012.4,63.9,12.2,5,NaN
2,nyc,nyc,"New York, NY, United States",2021-01-03,2.5,-1.6,-0.5,80.7,5.09,100,...,1.2,1.7,42.2,24.1,66.4,1017.0,81.5,13.2,1,NaN
3,nyc,nyc,"New York, NY, United States",2021-01-04,3.6,1.1,-0.2,76.6,0.84,100,...,0.5,0.7,NaN,17.3,141.1,1014.6,89.3,15.6,4,NaN
4,nyc,nyc,"New York, NY, United States",2021-01-05,3.8,1.3,-1.5,68.7,0.00,0,...,0.0,0.1,31.7,15.2,124.4,1013.1,98.8,16.0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,nyc,nyc,"New York, NY, United States",2021-12-27,2.7,0.4,-4.5,59.6,1.68,100,...,0.0,0.0,25.9,17.2,116.3,1016.8,65.8,15.5,2,NaN
361,nyc,nyc,"New York, NY, United States",2021-12-28,5.9,4.3,0.8,71.6,0.53,100,...,0.0,0.0,NaN,16.9,216.0,1010.6,76.4,13.7,2,NaN
362,nyc,nyc,"New York, NY, United States",2021-12-29,5.9,3.8,3.9,87.0,5.50,100,...,0.0,0.0,25.9,19.9,52.0,1012.3,100.0,8.8,1,NaN
363,nyc,nyc,"New York, NY, United States",2021-12-30,7.8,7.0,5.8,87.1,1.52,100,...,0.0,0.0,NaN,9.1,67.2,1013.7,98.8,8.4,2,NaN
364,nyc,nyc,"New York, NY, United States",2021-12-31,10.3,10.2,7.8,84.3,0.05,100,...,0.0,0.0,NaN,12.0,223.0,1013.7,96.1,11.1,3,NaN

In [4]:
# Extract unique values from the 'Name' column of the DataFrame nyc_weather_2021
x = data['address'].unique()
y = data['name'].unique()
z = data['resolvedAddress'].unique()
a = data['severerisk'].unique()
b = data['precipprob'].unique()
c = data['preciptype'].unique()
print(x,y,z,a,b,c)

['nyc'] ['nyc'] ['New York, NY, United States'] [nan] [100   0] ['rain' 'rain,snow' nan 'snow']

Thus the above indicates this 3 columns are of no use, as we know we are working with New York City Uber Trip Data.

In [5]:
# Drop unnecessary columns from the DataFrame nyc_weather_2021
data.drop(columns=['address', 'name', 'resolvedAddress','severerisk'], inplace=True)
data.columns

Index(['datetime', 'temp', 'feelslike', 'dew', 'humidity', 'precip',
       'precipprob', 'preciptype', 'snow', 'snowdepth', 'windgust',
       'windspeed', 'winddir', 'sealevelpressure', 'cloudcover', 'visibility',
       'uvindex'],
      dtype='object')

In [6]:
data.isna().sum()

datetime              0
temp                  0
feelslike             0
dew                   0
humidity              0
precip                0
precipprob            0
preciptype          213
snow                  0
snowdepth             0
windgust             73
windspeed             0
winddir               0
sealevelpressure      0
cloudcover            0
visibility            0
uvindex               0
dtype: int64

In [7]:
selected_columns = data[['snow', 'preciptype',"precipprob"]]
selected_columns

     snow preciptype  precipprob
0     0.0       rain         100
1     1.9       rain         100
2     1.2  rain,snow         100
3     0.5  rain,snow         100
4     0.0        NaN           0
..    ...        ...         ...
360   0.0       rain         100
361   0.0       rain         100
362   0.0       rain         100
363   0.0       rain         100
364   0.0       rain         100

[365 rows x 3 columns]

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Assuming df is your DataFrame containing the weather data with the columns specified
# Load your DataFrame, e.g., df = pd.read_csv('your_data.csv')

# Select relevant columns for analysis
selected_columns = ['temp', 'windspeed', 'winddir', 'sealevelpressure', 'cloudcover', 'visibility', 'windgust']

# Create a new DataFrame with selected columns
nyc_weather_2021_selected = data[selected_columns]

# Drop rows with missing values
nyc_weather_2021_selected.dropna(inplace=True)

# Correlation analysis
correlation_matrix = nyc_weather_2021_selected.corr()
print("Correlation Matrix:")
print(correlation_matrix)

# Split data into features (X) and target variable (y)
X = nyc_weather_2021_selected.drop(columns=['windgust'])
y = nyc_weather_2021_selected['windgust']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Regression modeling
model = LinearRegression()
model.fit(X_train, y_train)

# Model evaluation
train_score = model.score(X_train, y_train)
test_score = model.score(X_test, y_test)
print("\nTraining R^2 score:", train_score)
print("Testing R^2 score:", test_score)

Correlation Matrix:
                      temp  windspeed   winddir  sealevelpressure  cloudcover  \
temp              1.000000  -0.253595 -0.078479         -0.115677   -0.063462
windspeed        -0.253595   1.000000  0.158710         -0.252771    0.054077
winddir          -0.078479   0.158710  1.000000         -0.102958   -0.483563
sealevelpressure -0.115677  -0.252771 -0.102958          1.000000   -0.382584
cloudcover       -0.063462   0.054077 -0.483563         -0.382584    1.000000
visibility        0.075165  -0.079636  0.451464          0.279185   -0.545779
windgust         -0.002640   0.520714  0.206599         -0.348647    0.025295

                  visibility  windgust
temp                0.075165 -0.002640
windspeed          -0.079636  0.520714
winddir             0.451464  0.206599
sealevelpressure    0.279185 -0.348647
cloudcover         -0.545779  0.025295
visibility          1.000000 -0.065982
windgust           -0.065982  1.000000

Training R^2 score: 0.3735609182214302
Testing R^2 score: 0.24144654472349458

/tmp/ipykernel_34/27803129.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nyc_weather_2021_selected.dropna(inplace=True)

In [9]:
def fill_windgust_missing(df):
    # Iterate through each row in the DataFrame
    for index, row in df.iterrows():
        # Check if WindGust value is missing
        if pd.isnull(row['windgust']):
            # Find the next non-null value in WindGust column
            next_index = index + 1
            while next_index < len(df) and pd.isnull(df.at[next_index, 'windgust']):
                next_index += 1
            if next_index < len(df):
                next_windgust = df.at[next_index, 'windgust']
                wind_speed = df.at[next_index, 'windspeed']
                # Calculate ratio of next_windgust to wind_speed
                if wind_speed != 0:
                    ratio = next_windgust / wind_speed
                    # Use the ratio to fill the missing WindGust value
                    current_wind_speed = df.at[index,'windspeed']
                    df.at[index, 'windgust'] = round(current_wind_speed * ratio, 2)
                else:
                    # If WindSpeed is 0, set WindGust to 0
                    df.at[index, 'windgust'] = 0
            else: 
                df.at[index, 'windgust'] = data['windgust'].fillna(method='ffill', inplace=True)

    return df

fill_windgust_missing(data)
median_value = data['windgust'].median()
data['windgust'].fillna(median_value, inplace=True)

/tmp/ipykernel_34/292393658.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.at[index, 'windgust'] = data['windgust'].fillna(method='ffill', inplace=True)
/tmp/ipykernel_34/292393658.py:23: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.at[index, 'windgust'] = data['windgust'].fillna(method='ffill', inplace=True)
/tmp/ipykernel_34/292393658.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.at[index, 'windgust'] = data['windgust'].fillna(method='ffill', inplace=True)
/tmp/ipykernel_34/292393658.py:23: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.at[index, 'windgust'] = data['windgust'].fillna(method='ffill', inplace=True)
/tmp/ipykernel_34/292393658.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['windgust'].fillna(median_value, inplace=True)

In [10]:
data

,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,windgust,windspeed,winddir,sealevelpressure,cloudcover,visibility,uvindex
0,2021-01-01,2.5,-0.2,-3.0,67.8,15.33,100,rain,0.0,0.0,33.19,15.5,69.8,1028.9,50.6,14.0,3
1,2021-01-02,5.8,3.6,1.2,74.0,2.38,100,rain,1.9,0.6,54.60,25.5,246.9,1012.4,63.9,12.2,5
2,2021-01-03,2.5,-1.6,-0.5,80.7,5.09,100,"rain,snow",1.2,1.7,42.20,24.1,66.4,1017.0,81.5,13.2,1
3,2021-01-04,3.6,1.1,-0.2,76.6,0.84,100,"rain,snow",0.5,0.7,36.08,17.3,141.1,1014.6,89.3,15.6,4
4,2021-01-05,3.8,1.3,-1.5,68.7,0.00,0,NaN,0.0,0.1,31.70,15.2,124.4,1013.1,98.8,16.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2021-12-27,2.7,0.4,-4.5,59.6,1.68,100,rain,0.0,0.0,25.90,17.2,116.3,1016.8,65.8,15.5,2
361,2021-12-28,5.9,4.3,0.8,71.6,0.53,100,rain,0.0,0.0,22.00,16.9,216.0,1010.6,76.4,13.7,2
362,2021-12-29,5.9,3.8,3.9,87.0,5.50,100,rain,0.0,0.0,25.90,19.9,52.0,1012.3,100.0,8.8,1
363,2021-12-30,7.8,7.0,5.8,87.1,1.52,100,rain,0.0,0.0,25.90,9.1,67.2,1013.7,98.8,8.4,2
364,2021-12-31,10.3,10.2,7.8,84.3,0.05,100,rain,0.0,0.0,40.20,12.0,223.0,1013.7,96.1,11.1,3

In [11]:
#filling missing preciptype with "clear" weather as whenever the preciprob is 0, it has Nan in preciptype column
weather = 'clear'
data['preciptype'].fillna(weather, inplace=True)
data

/tmp/ipykernel_34/666438500.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['preciptype'].fillna(weather, inplace=True)

,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,windgust,windspeed,winddir,sealevelpressure,cloudcover,visibility,uvindex
0,2021-01-01,2.5,-0.2,-3.0,67.8,15.33,100,rain,0.0,0.0,33.19,15.5,69.8,1028.9,50.6,14.0,3
1,2021-01-02,5.8,3.6,1.2,74.0,2.38,100,rain,1.9,0.6,54.60,25.5,246.9,1012.4,63.9,12.2,5
2,2021-01-03,2.5,-1.6,-0.5,80.7,5.09,100,"rain,snow",1.2,1.7,42.20,24.1,66.4,1017.0,81.5,13.2,1
3,2021-01-04,3.6,1.1,-0.2,76.6,0.84,100,"rain,snow",0.5,0.7,36.08,17.3,141.1,1014.6,89.3,15.6,4
4,2021-01-05,3.8,1.3,-1.5,68.7,0.00,0,clear,0.0,0.1,31.70,15.2,124.4,1013.1,98.8,16.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2021-12-27,2.7,0.4,-4.5,59.6,1.68,100,rain,0.0,0.0,25.90,17.2,116.3,1016.8,65.8,15.5,2
361,2021-12-28,5.9,4.3,0.8,71.6,0.53,100,rain,0.0,0.0,22.00,16.9,216.0,1010.6,76.4,13.7,2
362,2021-12-29,5.9,3.8,3.9,87.0,5.50,100,rain,0.0,0.0,25.90,19.9,52.0,1012.3,100.0,8.8,1
363,2021-12-30,7.8,7.0,5.8,87.1,1.52,100,rain,0.0,0.0,25.90,9.1,67.2,1013.7,98.8,8.4,2
364,2021-12-31,10.3,10.2,7.8,84.3,0.05,100,rain,0.0,0.0,40.20,12.0,223.0,1013.7,96.1,11.1,3

In [12]:
data.isna().sum()

datetime            0
temp                0
feelslike           0
dew                 0
humidity            0
precip              0
precipprob          0
preciptype          0
snow                0
snowdepth           0
windgust            0
windspeed           0
winddir             0
sealevelpressure    0
cloudcover          0
visibility          0
uvindex             0
dtype: int64

Weather Data Cleaned And Transformed

In [13]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pyarrow.parquet as pq
td1 = pd.read_parquet('/kaggle/input/uber-nyc-forhire-vehicles-trip-data-2021/fhvhv_tripdata_2021-01.parquet')

In [14]:
td1.head(4)

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B02682,B02682,2021-01-01 00:28:09,2021-01-01 00:31:42,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,5.26,...,1.98,2.75,NaN,0.00,14.99,N,N,,N,N
1,HV0003,B02682,B02682,2021-01-01 00:45:56,2021-01-01 00:55:19,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,3.65,...,1.63,0.00,NaN,0.00,17.06,N,N,,N,N
2,HV0003,B02764,B02764,2021-01-01 00:21:15,2021-01-01 00:22:41,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,3.51,...,1.25,2.75,NaN,0.94,12.98,N,N,,N,N
3,HV0003,B02764,B02764,2021-01-01 00:39:12,2021-01-01 00:42:37,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,0.74,...,0.70,2.75,NaN,0.00,7.41,N,N,,N,N

In [15]:
td1['driver_pay_per_mile'] = td1['driver_pay'] / td1['trip_miles']
td1['trip_duration'] = (td1['dropoff_datetime'] - td1['pickup_datetime']).dt.total_seconds()/60
td1['driver_pay_per_minute'] = td1['driver_pay'] / td1['trip_duration']

print(td1.head())

  hvfhs_license_num dispatching_base_num originating_base_num  \
0            HV0003               B02682               B02682
1            HV0003               B02682               B02682
2            HV0003               B02764               B02764
3            HV0003               B02764               B02764
4            HV0003               B02764               B02764

     request_datetime   on_scene_datetime     pickup_datetime  \
0 2021-01-01 00:28:09 2021-01-01 00:31:42 2021-01-01 00:33:44
1 2021-01-01 00:45:56 2021-01-01 00:55:19 2021-01-01 00:55:19
2 2021-01-01 00:21:15 2021-01-01 00:22:41 2021-01-01 00:23:56
3 2021-01-01 00:39:12 2021-01-01 00:42:37 2021-01-01 00:42:51
4 2021-01-01 00:46:11 2021-01-01 00:47:17 2021-01-01 00:48:14

     dropoff_datetime  PULocationID  DOLocationID  trip_miles  ...  tips  \
0 2021-01-01 00:49:07           230           166        5.26  ...  0.00
1 2021-01-01 01:18:21           152           167        3.65  ...  0.00
2 2021-01-01 00:38:05           233           142        3.51  ...  0.94
3 2021-01-01 00:45:50           142           143        0.74  ...  0.00
4 2021-01-01 01:08:42           143            78        9.20  ...  0.00

   driver_pay  shared_request_flag  shared_match_flag  access_a_ride_flag  \
0       14.99                    N                  N
1       17.06                    N                  N
2       12.98                    N                  N
3        7.41                    N                  N
4       22.44                    N                  N

   wav_request_flag  wav_match_flag  driver_pay_per_mile  trip_duration  \
0                 N               N             2.849810      15.383333
1                 N               N             4.673973      23.033333
2                 N               N             3.698006      14.150000
3                 N               N            10.013514       2.983333
4                 N               N             2.439130      20.466667

  driver_pay_per_minute
0              0.974431
1              0.740666
2              0.917314
3              2.483799
4              1.096417

[5 rows x 27 columns]

In [35]:
data

,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,windgust,windspeed,winddir,sealevelpressure,cloudcover,visibility,uvindex
0,2021-01-01,2.5,-0.2,-3.0,67.8,15.33,100,rain,0.0,0.0,33.19,15.5,69.8,1028.9,50.6,14.0,3
1,2021-01-02,5.8,3.6,1.2,74.0,2.38,100,rain,1.9,0.6,54.60,25.5,246.9,1012.4,63.9,12.2,5
2,2021-01-03,2.5,-1.6,-0.5,80.7,5.09,100,"rain,snow",1.2,1.7,42.20,24.1,66.4,1017.0,81.5,13.2,1
3,2021-01-04,3.6,1.1,-0.2,76.6,0.84,100,"rain,snow",0.5,0.7,36.08,17.3,141.1,1014.6,89.3,15.6,4
4,2021-01-05,3.8,1.3,-1.5,68.7,0.00,0,clear,0.0,0.1,31.70,15.2,124.4,1013.1,98.8,16.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2021-12-27,2.7,0.4,-4.5,59.6,1.68,100,rain,0.0,0.0,25.90,17.2,116.3,1016.8,65.8,15.5,2
361,2021-12-28,5.9,4.3,0.8,71.6,0.53,100,rain,0.0,0.0,22.00,16.9,216.0,1010.6,76.4,13.7,2
362,2021-12-29,5.9,3.8,3.9,87.0,5.50,100,rain,0.0,0.0,25.90,19.9,52.0,1012.3,100.0,8.8,1
363,2021-12-30,7.8,7.0,5.8,87.1,1.52,100,rain,0.0,0.0,25.90,9.1,67.2,1013.7,98.8,8.4,2
364,2021-12-31,10.3,10.2,7.8,84.3,0.05,100,rain,0.0,0.0,40.20,12.0,223.0,1013.7,96.1,11.1,3

In [34]:
td1['date'] = pd.to_datetime(td1['request_datetime']).dt.strftime('%Y-%m-%d')

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag,driver_pay_per_mile,trip_duration,driver_pay_per_minute,date
0,HV0003,B02682,B02682,2021-01-01 00:28:09,2021-01-01 00:31:42,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,5.26,...,14.99,N,N,,N,N,2.849810,15.383333,0.974431,2021-01-01
1,HV0003,B02682,B02682,2021-01-01 00:45:56,2021-01-01 00:55:19,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,3.65,...,17.06,N,N,,N,N,4.673973,23.033333,0.740666,2021-01-01
2,HV0003,B02764,B02764,2021-01-01 00:21:15,2021-01-01 00:22:41,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,3.51,...,12.98,N,N,,N,N,3.698006,14.150000,0.917314,2021-01-01
3,HV0003,B02764,B02764,2021-01-01 00:39:12,2021-01-01 00:42:37,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,0.74,...,7.41,N,N,,N,N,10.013514,2.983333,2.483799,2021-01-01
4,HV0003,B02764,B02764,2021-01-01 00:46:11,2021-01-01 00:47:17,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,9.20,...,22.44,N,N,,N,N,2.439130,20.466667,1.096417,2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11908463,HV0003,B02765,B02765,2021-01-31 23:13:51,2021-01-31 23:25:03,2021-01-31 23:25:40,2021-01-31 23:40:10,89,71,2.29,...,12.06,N,N,,N,N,5.266376,14.500000,0.831724,2021-01-31
11908464,HV0003,B02872,B02872,2021-01-31 23:23:56,2021-01-31 23:29:03,2021-01-31 23:29:31,2021-01-31 23:47:44,182,167,4.10,...,13.66,N,N,,N,N,3.331707,18.216667,0.749863,2021-01-31
11908465,HV0003,B02872,B02872,2021-01-31 23:42:53,2021-01-31 23:49:23,2021-01-31 23:49:32,2021-02-01 00:04:36,167,169,2.40,...,15.53,N,N,,N,N,6.470833,15.066667,1.030752,2021-01-31
11908466,HV0003,B02764,B02764,2021-01-31 23:04:32,2021-01-31 23:09:13,2021-01-31 23:09:29,2021-01-31 23:27:46,188,37,3.60,...,17.36,N,N,,N,N,4.822222,18.283333,0.949499,2021-01-31
11908467,HV0003,B02764,B02764,2021-01-31 23:22:20,2021-01-31 23:28:33,2021-01-31 23:28:33,2021-01-31 23:56:36,37,4,5.76,...,21.69,N,N,,N,N,3.765625,28.050000,0.773262,2021-01-31

In [42]:
td1.dropna(subset=['date'], inplace=True)

In [43]:
td1.isna().sum()

hvfhs_license_num               0
dispatching_base_num            0
originating_base_num      3206075
request_datetime                0
on_scene_datetime         3200011
pickup_datetime                 0
dropoff_datetime                0
PULocationID                    0
DOLocationID                    0
trip_miles                      0
trip_time                       0
base_passenger_fare             0
tolls                           0
bcf                             0
sales_tax                       0
congestion_surcharge            0
airport_fee              11902544
tips                            0
driver_pay                      0
shared_request_flag             0
shared_match_flag               0
access_a_ride_flag              0
wav_request_flag                0
wav_match_flag                  0
driver_pay_per_mile           943
trip_duration                   0
driver_pay_per_minute          53
date                            0
dtype: int64

In [44]:
import pandas as pd
from gensim.models import Word2Vec

# Tokenize the dates
tokenized_dates = [date.split('-') for date in td1['date']]

# Train Word2Vec model
word2vec_model = Word2Vec(sentences=tokenized_dates, vector_size=10, window=5, min_count=1, workers=4)

# Get embedding vectors for each date
date_embeddings = [word2vec_model.wv[date] for date in tokenized_dates]

# Convert to DataFrame
date_embeddings_df = pd.DataFrame(date_embeddings, columns=[f'date_embedding_{i}' for i in range(15000)])  # Adjust the number of columns based on vector_size

# Concatenate with the original DataFrame
td1 = pd.concat([td1, date_embeddings_df], axis=1)

# Drop the original 'date' column
td1.drop('date', axis=1, inplace=True)

ValueError: Must pass 2-d input. shape=(11908464, 3, 10)

# Model 1

In [16]:
!pip install tensorflow keras
!pip install --upgrade pip
import tensorflow as tf
from tensorflow import keras

Requirement already satisfied: tensorflow in /opt/conda/lib/python3.10/site-packages (2.15.0)
Requirement already satisfied: keras in /opt/conda/lib/python3.10/site-packages (3.1.1)
Requirement already satisfied: absl-py>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (23.5.26)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (0.5.4)
Requirement already satisfied: google-pasta>=0.1.1 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (3.10.0)
Requirement already satisfied: libclang>=13.0.0 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (16.0.6)
Requirement already satisfied: ml-dtypes~=0.2.0 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (1.26.4)
Requirement already satisfied: opt-einsum>=2.3.2 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from tensorflow) (21.3)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (3.20.3)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.10/site-packages (from tensorflow) (69.0.3)
Requirement already satisfied: six>=1.12.0 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (4.9.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (0.35.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (1.51.1)
Requirement already satisfied: tensorboard<2.16,>=2.15 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (2.15.1)
Requirement already satisfied: tensorflow-estimator<2.16,>=2.15.0 in /opt/conda/lib/python3.10/site-packages (from tensorflow) (2.15.0)
Collecting keras
  Downloading keras-2.15.0-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /opt/conda/lib/python3.10/site-packages (from astunparse>=1.6.0->tensorflow) (0.42.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /opt/conda/lib/python3.10/site-packages (from tensorboard<2.16,>=2.15->tensorflow) (2.26.1)
Requirement already satisfied: google-auth-oauthlib<2,>=0.5 in /opt/conda/lib/python3.10/site-packages (from tensorboard<2.16,>=2.15->tensorflow) (1.2.0)
Requirement already satisfied: markdown>=2.6.8 in /opt/conda/lib/python3.10/site-packages (from tensorboard<2.16,>=2.15->tensorflow) (3.5.2)
Requirement already satisfied: requests<3,>=2.21.0 in /opt/conda/lib/python3.10/site-packages (from tensorboard<2.16,>=2.15->tensorflow) (2.31.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /opt/conda/lib/python3.10/site-packages (from tensorboard<2.16,>=2.15->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from tensorboard<2.16,>=2.15->tensorflow) (3.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging->tensorflow) (3.1.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/conda/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /opt/conda/lib/python3.10/site-packages (from google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow) (1.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (2024.2.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in /opt/conda/lib/python3.10/site-packages (from werkzeug>=1.0.1->tensorboard<2.16,>=2.15->tensorflow) (2.1.3)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /opt/conda/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (0.5.1)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow) (3.2.2)
Downloading keras-2.15.0-py3-none-any.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 17.1 MB/s eta 0:00:00a 0:00:01
Installing collected packages: keras
  Attempting uninstall: keras
    Found existing installation: keras 3.1.1
    Uninstalling keras-3.1.1:
      Successfully uninstalled keras-3.1.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-decision-forests 1.8.1 requires wurlitzer, which is not installed.
Successfully installed keras-2.15.0
Requirement already satisfied: pip in /opt/conda/lib/python3.10/site-packages (23.3.2)
Collecting pip
  Downloading pip-24.0-py3-none-any.whl.metadata (3.6 kB)
Downloading pip-24.0-py3-none-any.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 21.4 MB/s eta 0:00:0000:010:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.3.2
    Uninstalling pip-23.3.2:
      Successfully uninstalled pip-23.3.2
Successfully installed pip-24.0

2024-04-10 04:43:05.468532: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-04-10 04:43:05.468675: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-04-10 04:43:05.607553: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

In [36]:
# create a neural network model for predicting driver pay per mile based on all trip td1. Create a model with 3 hidden layers, each with 64 nodes and ReLU activation functions. Use the Adam optimizer and mean squared error loss function. Train the model for 10 epochs.

model = keras.Sequential([
    keras.layers.Flatten(input_shape=(3,)),
    keras.layers.Dense(64, activation='relu'),
    keras.layers.Dense(32, activation='relu'),
    keras.layers.Dense(1, activation='linear')
])

# training td1
# training_td1 = td1[1:td1.shape[0]//2]
# target_td1 = td1[td1.shape[0]//2:]
training_td1 = td1.iloc[:12000]  #
target_td1 = td1.iloc[12000:15000]

model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(training_td1[['trip_miles', 'trip_duration','date']], training_td1['driver_pay'], epochs=5)

# Use the model to predict driver pay per mile for the first 5 trips in the td1set. Compare the predicted values to the actual values.
predictions = model.predict(target_td1[['trip_miles', 'trip_duration','date']] )
print(predictions[:5])
print(target_td1['driver_pay'][:5])

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).

In [19]:
print(model.evaluate(target_td1[['trip_miles', 'trip_duration']], target_td1['driver_pay']))
model.save('m1.keras')

94/94 [==============================] - 0s 2ms/step - loss: 9.8533
9.853256225585938

In [20]:
new_model = tf.keras.models.load_model('m1.keras')

print(new_model.predict(target_td1[1:50][['trip_miles', 'trip_duration']]))
print(target_td1[1:50]['driver_pay'])

2/2 [==============================] - 0s 3ms/step
[[ 7.823266 ]
 [11.951415 ]
 [ 6.551437 ]
 [11.183859 ]
 [10.520539 ]
 [ 6.854458 ]
 [11.501509 ]
 [21.929268 ]
 [15.498501 ]
 [15.498501 ]
 [13.4894285]
 [ 6.888594 ]
 [13.841204 ]
 [10.8228   ]
 [ 8.018373 ]
 [ 9.614493 ]
 [49.02986  ]
 [ 7.324812 ]
 [ 5.3594394]
 [ 5.839755 ]
 [11.869579 ]
 [10.96464  ]
 [10.459655 ]
 [15.596986 ]
 [11.502907 ]
 [18.222593 ]
 [33.02128  ]
 [ 7.760792 ]
 [ 5.142463 ]
 [10.1904   ]
 [ 5.3606925]
 [10.558526 ]
 [ 6.326422 ]
 [39.424114 ]
 [16.54639  ]
 [ 4.5475283]
 [11.349429 ]
 [12.274107 ]
 [ 6.9438586]
 [11.522159 ]
 [11.052291 ]
 [14.509304 ]
 [ 6.695664 ]
 [ 9.920801 ]
 [17.67815  ]
 [25.707834 ]
 [13.935371 ]
 [19.918018 ]
 [14.665782 ]]
12001    13.63
12002    18.51
12003    13.67
12004    17.64
12005    10.63
12006     6.97
12007    11.65
12008    21.79
12009    16.96
12010    16.96
12011    14.67
12012     8.41
12013    15.08
12014    11.75
12015     8.61
12016    10.82
12017    47.99
12018     7.37
12019     7.59
12020     7.38
12021    13.62
12022    12.63
12023    10.19
12024    14.77
12025    10.82
12026    24.27
12027    29.95
12028     5.70
12029     7.18
12030    10.53
12031     7.65
12032    10.69
12033     7.15
12034    37.57
12035    15.45
12036     6.30
12037    11.63
12038    12.68
12039     6.93
12040    30.29
12041    15.33
12042    20.04
12043     7.77
12044    10.97
12045    18.17
12046    23.72
12047    13.50
12048    19.72
12049    13.50
Name: driver_pay, dtype: float64

# Model 2

In [21]:
from sklearn.linear_model import LinearRegression

# train and test
training_td1 = td1.iloc[:len(td1) // 2] 
target_td1 = td1.iloc[len(td1) // 2:]  

# If 'td1' is a DataFrame, ensure to reset the index after splitting
training_td1.reset_index(drop=True, inplace=True)
target_td1.reset_index(drop=True, inplace=True)

# Create and fit the linear regression model
linear_model = LinearRegression()
linear_model.fit(training_td1[['trip_miles', 'trip_duration']], training_td1['driver_pay'])

# Use the model to predict driver pay per mile for the first 5 trips in the td1set.
predictions_linear = linear_model.predict(target_td1[['trip_miles', 'trip_duration']])
print(predictions_linear[:5])
print(target_td1['driver_pay'][:5])

[11.58908911  5.11332891 10.72302812  5.99919361  5.62534479]
0    10.72
1     5.40
2     9.47
3     5.40
4     6.32
Name: driver_pay, dtype: float64

In [26]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Calculate predictions using linear regression model
predictions_linear = linear_model.predict(target_td1[['trip_miles', 'trip_duration']])

# Calculate evaluation metrics
mse_linear = mean_squared_error(target_td1['driver_pay'], predictions_linear)
mae_linear = mean_absolute_error(target_td1['driver_pay'], predictions_linear)
r2_linear = r2_score(target_td1['driver_pay'], predictions_linear)

# Print evaluation metrics
print("Linear Regression Model Evaluation:")
print("Mean Squared Error (MSE):", mse_linear)
print("Mean Absolute Error (MAE):", mae_linear)
print("R-squared (R2) Score:", r2_linear)

Linear Regression Model Evaluation:
Mean Squared Error (MSE): 10.107461814520493
Mean Absolute Error (MAE): 1.484554972969785
R-squared (R2) Score: 0.9167569379811354

# Model 3

In [22]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [26]:
# Reshape the input data for LSTM
n_features = 2  
n_steps = 1   

# # Reshape training and target data
# X_train = np.array(training_td1[['trip_miles', 'trip_duration']])
# X_train = X_train.reshape((X_train.shape[0], n_steps, n_features))
# y_train = np.array(training_td1['driver_pay'])

# Define the number of data points for training and testing
train_size = 13000
test_size = 3000

# Extract training data
X_train = np.array(training_td1[['trip_miles', 'trip_duration']][:train_size])
X_train = X_train.reshape((X_train.shape[0], n_steps, n_features))
y_train = np.array(training_td1['driver_pay'][:train_size])

# Extract test data
X_test = np.array(target_td1[['trip_miles', 'trip_duration']][:test_size])
X_test = X_test.reshape((X_test.shape[0], n_steps, n_features))
y_test = np.array(target_td1['driver_pay'][:test_size])

In [27]:

# Define the LSTM model
lstm_model = Sequential([
    LSTM(64, activation='relu', input_shape=(n_steps, n_features)),
    Dense(32, activation='relu'),
    Dense(1, activation='linear')
])

# Compile the model
lstm_model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
lstm_model.fit(X_train, y_train, epochs=5)

Epoch 1/5
407/407 [==============================] - 3s 4ms/step - loss: 37.2754
Epoch 2/5
407/407 [==============================] - 2s 4ms/step - loss: 9.4672
Epoch 3/5
407/407 [==============================] - 2s 4ms/step - loss: 9.0384
Epoch 4/5
407/407 [==============================] - 2s 4ms/step - loss: 8.8090
Epoch 5/5
407/407 [==============================] - 2s 4ms/step - loss: 8.6619

In [29]:
# predict driver pay per mile for the first 5 trips in the td1set.
X_target = np.array(target_td1[['trip_miles', 'trip_duration']][:train_size])
X_target = X_target.reshape((X_target.shape[0], n_steps, n_features))
predictions_lstm = lstm_model.predict(X_target)
print(predictions_lstm[:5])
print(target_td1['driver_pay'][:5])

407/407 [==============================] - 1s 2ms/step
[[12.8559885]
 [ 7.5560913]
 [11.65605  ]
 [ 7.857862 ]
 [ 7.80001  ]]
0    10.72
1     5.40
2     9.47
3     5.40
4     6.32
Name: driver_pay, dtype: float64

In [30]:
# Reshape the target data for evaluation
X_target = np.array(target_td1[['trip_miles', 'trip_duration']][:train_size])
X_target = X_target.reshape((X_target.shape[0], n_steps, n_features))
y_target = np.array(target_td1['driver_pay'][:test_size])

# Calculate predictions using the LSTM model
predictions_lstm = lstm_model.predict(X_target)

# Calculate evaluation metrics
mse_lstm = mean_squared_error(y_target, predictions_lstm)
mae_lstm = mean_absolute_error(y_target, predictions_lstm)
r2_lstm = r2_score(y_target, predictions_lstm)

# Print evaluation metrics
print("LSTM Model Evaluation:")
print("Mean Squared Error (MSE):", mse_lstm)
print("Mean Absolute Error (MAE):", mae_lstm)
print("R-squared (R2) Score:", r2_lstm)

407/407 [==============================] - 1s 2ms/step

NameError: name 'mean_squared_error' is not defined